.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    display: block !important;
    padding: 0.9em 75px 0.9em 15px !important;
}
div.ui-slider-switch {
    position: absolute !important;
    right: 10px !important;
    width: 30% !important;
}
.inputvalue {
    position: absolute !important;
    right: 20px !important;
    width: 40% !important;
    text-align:right;
    color:coral;
}


.container{
    width: 280px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display:inline-block;
    margin:0px 10px 5px 5px;
    vertical-align:top;
}

.progressbar {
    color: #fff;
    text-align: right;
    height: 25px;
    width: 0;
    background-color: #0ba1b5;
    border-radius: 3px;
}

